MQTT_USER=smarthome
MQTT_PASSWORD=smarthome

DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=smarthome123
DOCKER_INFLUXDB_INIT_ORG=smarthome
DOCKER_INFLUXDB_INIT_BUCKET=sensor_data
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=smarthome-super-secret-token

GEMINI_API_KEY=
WEATHER_API_KEY=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
ENABLE_SPOTIFY_ACTIONS=false

TELEGRAM_TOKEN=
